<div>
    <h3> Add Employee information</h3>
    <div>
        Name : <input mat-input type="text" [(ngModel)]="employee.name">
    </div>
    <div>
        Type of employee :
        <select [(ngModel)]="employee.type">
            <option value="">Select</option>
            <option value="employee">Employee</option>
            <option value="manager">Manager</option>
        </select>
    </div>
    <div>
        Department :
        <select [(ngModel)]="employee.department">
            <option value="">Select</option>
            <option *ngFor="let department of departments">{{department}}</option>
        </select>

    </div>
    <div>
        Reporting Manager :
        <select [(ngModel)]="employee.reportingManager">
            <option value="">Select</option>
            <option *ngFor="let manager of managers">{{manager.name}}</option>
        </select>
    </div>
    <button (click)="SaveEmployeeInfotmation()">Save</button>
</div>


<hr>
<h3>All Employees</h3>
<ol>
    <li *ngFor="let employee of employees">{{employee.name}}, Type: {{employee.type}}, Manager: {{employee.reportingManager}}</li>
</ol>

<hr>
<h3>All Managers</h3>
<ol>
    <li *ngFor="let manager of managers">{{manager.name}}, Type: {{manager.type}}, Manager: {{manager.reportingManager}}</li>
</ol>