.parent-card {
    max-width: 600px;
    margin: auto;
    width: 50%;
}
.page {
    margin: 20px;
}

.full-width {
    width: 100%;
}

.table-container {
    height: 400px;    
    width: 900px;
    overflow: auto;
}

table {
    width: 100%;
}

.center{
    text-align: center;
}